body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* .row class to create a horizontal row */
.row {
    display: flex;
    flex-wrap: wrap;
    /* Allows columns to wrap onto multiple lines */
    margin-right: -15px;
    /* Negative margin to offset the padding of .col */
    margin-left: -15px;
    /* Negative margin to offset the padding of .col */
    padding-top: 10px;
}

/* .col class to create responsive columns */
.col {
    flex: 1;
    /* Grow to fill available space */
    /* padding-right: 15px;
    padding-left: 15px; */
    padding-right: 0px;
    padding-left: 0px;
}

/* Responsive column widths */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .col-sm-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-sm-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-sm-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .col-sm-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .col-md-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-md-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-md-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .col-md-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .col-lg-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-lg-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-lg-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .col-lg-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .col-xl-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-xl-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-xl-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .col-xl-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.pattern1 {
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
}

.pattern2 {
    /* control ize */
    --u: 5px;
    --c1: #ededee;
    --c2: #000000;
    --c3: #1e1e1e;
    --gp: 50% / calc(var(--u) * 16.9) calc(var(--u) * 12.8);
    background: conic-gradient(from 122deg at 50% 85.15%,
            var(--c2) 0 58deg,
            var(--c3) 0 116deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 122deg at 50% 72.5%,
            var(--c1) 0 116deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 58deg at 82.85% 50%,
            var(--c3) 0 64deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 58deg at 66.87% 50%,
            var(--c1) 0 64deg,
            var(--c2) 0 130deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 238deg at 17.15% 50%,
            var(--c2) 0 64deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from 172deg at 33.13% 50%,
            var(--c3) 0 66deg,
            var(--c1) 0 130deg,
            #fff0 0 100%) var(--gp),
        linear-gradient(98deg, var(--c3) 0 15%, #fff0 calc(15% + 1px) 100%) var(--gp),
        linear-gradient(-98deg, var(--c2) 0 15%, #fff0 calc(15% + 1px) 100%) var(--gp),
        conic-gradient(from -58deg at 50.25% 14.85%,
            var(--c3) 0 58deg,
            var(--c2) 0 116deg,
            #fff0 0 100%) var(--gp),
        conic-gradient(from -58deg at 50% 28.125%,
            var(--c1) 0 116deg,
            #fff0 0 100%) var(--gp),
        linear-gradient(90deg, var(--c2) 0 50%, var(--c3) 0 100%) var(--gp);
}

.pattern3 {
    --s: 37px;
    /* control the size */

    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

.pattern4 {
    background: #f1f1f1;
    background-image: linear-gradient(90deg,
            transparent 50px,
            #ffb4b8 50px,
            #ffb4b8 52px,
            transparent 52px),
        linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
    background-size: 100% 30px;
}

.pattern5 {
    /* Add your background pattern here */
    --color: #d2f4f8cc;
    background-color: #000000;
    background-size: 40px 40px;
    background-image: linear-gradient(45deg, var(--color), transparent 40%),
        linear-gradient(-90deg, var(--color), transparent 20%);
}

.pattern6 {
    --s: 82px;
    --c1: #161616;
    --c2: #4e4e4e;
    --c3: #333333;

    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(from 60deg at calc(200% / 3),
            var(--c3) 60deg,
            var(--c2) 0 120deg,
            #0000 0),
        conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg,
            var(--c1) calc(100% / 6),
            var(--c2) 0 50%,
            var(--c1) 0 calc(500% / 6),
            var(--c2) 0);
    background-size: calc(1.732 * var(--s)) var(--s);
}


h3 {
    font-size: 24px;
    /* Ukuran font */
    font-weight: bold;
    /* Ketebalan font */
    color: #fff;
    /* Warna teks */
    margin-top: 20px;
    /* Jarak atas dari elemen sebelumnya */
    margin-bottom: 10px;
    /* Jarak bawah dari elemen itu sendiri */
}

.container {
    text-align: center;
}

.Btn {
    /* width: 200px; */
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right,
            #bf953f,
            #fcf6ba,
            #b38728,
            #fbf5b7,
            #aa771c);
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.8em;
    color: rgb(121, 103, 3);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
}

.Btn_loading {
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right,
            #bf943fbe,
            #fcf6babe,
            #b38728be,
            #fbf5b7be,
            #aa771cbe);
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.8em;
    color: rgb(121, 103, 3);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
    animation: pulse 1s linear infinite;
}

.d-none {
    display: none;
}

.logoIcon path {
    fill: rgb(121, 103, 3);
}

.Btn:hover {
    animation: gradient 5s ease infinite;
    transform: scale(0.95);
    transition-duration: 3s;
    background-position: right;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 480px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

.submit:hover {
    background-color: #00bfff96;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

#tabelHasil {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

.caption {
    text-align: center;
    caption-side: top;
    font-size: 2.5em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background: -webkit-linear-gradient(right,
            #56d8e4,
            #9f01ea,
            #56d8e4,
            #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tabelHasil th,
td {
    text-align: left;
    padding: 8px;
}

#tabelHasil td {
    border: 1px solid #ddd;
}

#tabelHasil tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #292929;
}

#tabelHasil th {
    background: linear-gradient(115deg, #9f01ea 10%, #56d8e4 90%);
    color: white;
}

#tabelHasil th .lebar20 {
    width: 20%;
}


.caption::after {
    content: '';
    position: absolute;
    left: 0;
    top: 27%;
    /* Jarak dari teks */
    width: 70%;
    height: 5px;
    /* Ketebalan garis */
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    /* Warna garis */
    animation: mymove ease-in-out 1.3s infinite;
}

@keyframes mymove {
    0% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 0%;
    }

    12.5% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 25%;
    }

    25% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 50%;
    }

    37.5% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 75%;
    }

    50% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 100%;
    }

    62.5% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 75%;
    }

    75% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 50%;
    }

    87.5% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 25%;
    }

    100% {
        background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        width: 0%;
    }
}
